version: '3.7'
services:
  web:
    image: ghcr.io/elevatodigital/docker-development-environments/node-16-web:latest
    build:
      context: '.'
      dockerfile: 'DockerfileWeb'
    ports:
      - "3001:3000"
    volumes:
      - "./example-app:/home/node/app"
    expose:
      - "3000"
    command: "npm run start"